*{
  box-sizing: border-box;
}

body{
  margin: 0 auto;
}

article{
  max-width: 500px;
  background-color: #eee;
  
  padding: 50px;
}

.funkylink{
  display: inline-block;
  
  color: white;
  background-color: hotpink;
  background-image:url(Ugly-Arrow.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right -25px center;
  
  padding: 20px;
  
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  
  /* transition: property duration timing-funciton delay*/
  transition: background-color .3s linear 3s,
              background-position .1s ease-out 0s,
              border-radius .1s 25px,
              padding .3s ease-out .1s;
}

.funkylink:hover{
  background-color: rebeccapurple;
  padding-right: 60px;
  background-position: right 20px center;
  
  transition: background-color .3s linear 1s,
              background-position .1s ease-out .3s,
              padding .4s ease-out;

}